<div class="jumbotron">
    <h1>Meus Pedidos User Evaluation API</h1>
    <p class="lead">This API was developed as a practical test for a job opening at Meus Pedidos.</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>The API is already published at Microsoft Azure, to access just click 'Follow'.</p>
        <p><a class="btn btn-default" href="http://meuspedidosdevtestwebapi.azurewebsites.net/">Follow &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Git Hub</h2>
        <p>The link below takes to this project's Git Hub repository.</p>
        <p><a class="btn btn-default" href="https://github.com/tiagoseminotti/meusPedidosDevTest">Follow &raquo;</a></p>
    </div>
</div>
